.link-style
{
	color:orange;
	text-decoration:none;
	font-weight:bold;
	cursor:pointer;
	vertical-align: top;
}
.menu
{
	position:relative;
	display:inline-block;
	font-family:Arial;
	font-size:15px;
	cursor:pointer;
	vertical-align: top;
}
.submenu
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	border:1px solid black;
	padding:5px 0;
	z-index:999;
	min-width:180px;
	vertical-align: top;
}
.submenu a
{
	display:block;
	padding:6px 10px;
	text-decoration:none;
	color:black;
	vertical-align: top;
}
.submenu a:hover
{
	background:#e0e0e0;
	vertical-align: top;
}
.menu:hover .submenu
{
	display:block;
	vertical-align: top;
}
.submenu.no-link
{
	position:static;
	display:block;
	background:none;
	border:none;
	padding:0;
	min-width:auto;
	vertical-align: top;
}
.menu.active-menu
{
	padding:0;
	vertical-align: top;
}