.link-style
{
	color:orange;
	text-decoration:none;
	font-weight:bold;
	cursor:pointer;
	vertical-align: top;
}
.menu
{
	position:relative;
	display:inline-block;
	font-family:Arial;
	font-size:15px;
	cursor:pointer;
	vertical-align: top;
}
.submenu
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	border:1px solid black;
	padding:5px 0;
	z-index:999;
	min-width:180px;
	vertical-align: top;
}
.submenu a
{
	display:block;
	padding:6px 10px;
	text-decoration:none;
	color:black;
	vertical-align: top;
}
.submenu a:hover
{
	background:#e0e0e0;
	vertical-align: top;
}
.menu:hover .submenu
{
	display:block;
	vertical-align: top;
}
.submenu.no-link
{
	position:static;
	display:block;
	background:none;
	border:none;
	padding:0;
	min-width:auto;
	vertical-align: top;
}
.menu.active-menu
{
	padding:0;
	vertical-align: top;
}
@keyframes blink
{
	0%, 50%, 100%
	{
		opacity: 1;
	}
	25%, 75%
	{
		opacity: 0;
	}
}
.submenu .submenu
{
	position: static;
	display: none;
	border: none;
	padding-left: 15px;
	min-width: auto;
}
.submenu a:hover + .submenu
{
	display: block;
}
.submenu .menu:hover .submenu
{
	display: block;
}
.submenu span:hover > .submenu {
	display: block !important;
}
body
{
	background-color: #004C8F;
	color: #FFFFFF;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}
h3
{
	color: #FFFFFF;
	border-bottom: 2px solid #FF6600;
	padding-bottom: 10px;
}
#financialResourcesMenu01, #financialResourcesMenu02
{
	background-color: #0066CC !important;
	color: #FFFFFF !important;
	border: 2px solid #003D82 !important;
	border-radius: 5px;
}
#financialResourcesMenu01 a, #financialResourcesMenu02 a
{
	color: #FFCC00 !important;
	font-weight: bold;
}
#financialResourcesMenu01 a:hover, #financialResourcesMenu02 a:hover
{
	color: #FF6600 !important;
	background-color: #003D82;
	padding: 5px;
	border-radius: 3px;
}
button
{
	background-color: #003D82 !important;
	color: #FFFFFF !important;
	border: 2px solid #FF6600 !important;
	font-weight: bold;
}
button:hover
{
	background-color: #FF6600 !important;
	color: #FFFFFF !important;
	border: 2px solid #003D82 !important;
}
