table.navbar
{
	width: 100%;
	border: 1px solid #ccc;
	border-collapse: collapse;
}
.navbar td
{
	padding: 6px;
	vertical-align: top;
	text-align: right;
}
.menu
{
	position: relative;
	display: inline-block;
	padding: 5px;
}
.menu > a, .menu > div.no-link
{
	text-decoration: none;
	color: black;
	cursor: pointer;
}
.active-menu
{
	background: orange;
}
.submenu
{
	display: none;
	position: absolute;
	right: 0;
	background: #fff;
	border: 1px solid #aaa;
	min-width: 220px;
	z-index: 1000;
}
.menu:hover .submenu
{
	display: block;
}
.submenu a
{
	display: block;
	padding: 5px 10px;
	white-space: nowrap;
	text-decoration: none;
	color: black;
}
.submenu a:hover
{
	background: #f2f2f2;
}